//Footer

@use '../common/variables';


footer{
    height: auto;
    background: variables.$vert-canard;

    h2{
        color: variables.$blanc-casse;
    }

    ul{
        padding: 0;
    }
    
    a{
        color: variables.$blanc-casse;
    }
}