<nav class="nav d-flex justify-content-between">
            <h2>Grand'Angle</h2>
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="<?= $_SESSION['img'] ?>" height="15px" width="15px" alt="error">
                    <?= $_SESSION['langue'] ?>
                </button>
                <div class="dropdown-menu">
                    <ul>
                        <?php foreach ($langues as $langue){ ?>
                            <li>
                                <a class="dropdown-item" href="?controller=Langue&method=changeLangue&idLangue=<?= $langue['idLangue'] ?>&code=<?= $langue['code'] ?>">
                                    <img src="<?= $langue['img'] ?>" alt="<?= $langue['nom'] ?>" height="20px" width="20px">
                                    <?= $langue['nom'] ?>
                                </a>
                            </li>
                        <?php } ?>
                    </ul>
                </div>
            </div>
        </nav>