//Global

@use './variables';

body {
    background-color: variables.$blanc-casse;
    color: variables.$vert-canard
}

h1, h2, h3, h4, h5, h6 {
    font-family: "newAmsterdam";
    font-weight: 400;
}
